# NLP & Deep Learning
torch==2.4.1 --extra-index-url https://download.pytorch.org/whl/cu124 
transformers==4.45.2
spacy==3.8.0
torchcrf==1.1.0
datasets==3.5.1
tokenizers==0.20.3
sklearn-crfsuite==0.3.6

# spaCy English model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl 